@import './unit/color.scss'; //  颜色
@import '~vuetify/src/styles/styles.sass'; // vuetify变量

// 填满父元素
// 组要父元素 position: relative | absolute;
%full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// 禁止用户选中 鼠标变为手形
%unable-select {
  user-select: none;
  cursor: pointer;
}

//超出显示省略号，需指定宽度
%overfloew-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//过渡效果
%transition-all {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
}

//百分百大小的before
%full-before {
  background-color: currentColor;
  position: absolute;
  border-radius: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  content: '';
}

// 自定义过渡
@each $transition in auto-expand {
  .#{$transition}-transition-leave-active {
    position: absolute;
  }

  .#{$transition}-transition-enter-active,
  .#{$transition}-transition-leave,
  .#{$transition}-transition-leave-to {
    @extend %transition-all;
  }

  .#{$transition}-transition-enter,
  .#{$transition}-transition-leave-to {
    max-height: 0 !important;
  }
}
