.theme-#{$theme-name} {
  // 背景图片和遮罩
  .atrox-container {
    color: $font-color;
    background-color: $theme-bg-color;
    //  遮罩
    .atrox-container-mask {
      background: $theme-bg-mask;
    }

    .atrox-body {
      .atrox-body-main {
        .atrox-body-main-left {
          .atrox-logo {
            color: $color-primary;
          }

          .atrox-menu {
            background-color: $theme-menu-background;

            .v-list-item--active:not(.v-list-group__header) {
              background-color: $color-primary;
              color: white !important;
            }
          }
        }

        .atrox-body-main-right {
          .atrox-header {
            .atrox-active {
              &.v-btn {
                background-color: $color-primary;
                color: white;
              }
            }

            .v-btn {
              & .v-btn__content {
                & div {
                  @extend %transition-all;
                }
              }

              &:hover:not(.atrox-active) .v-btn__content {
                color: $theme-header-item-color-hover;
              }
            }

            .atrox-menu-toggle {
              i {
                color: $theme-header-item-color;
                background: $theme-header-item-background-color;
              }

              &:hover {
                i {
                  color: $theme-header-item-color-hover;
                }
              }
            }
          }

          .atrox-content {
            .atrox-content-header {
              border: $theme-container-border-outer;
              background-color: $theme-footer-color;

              .v-chip {
                border-top: none;
                border-bottom: none;
                background-color: $theme-footer-color;
              }

              .v-chip--active {
                color: white;
                background-color: $color-primary !important;

                &::before {
                  background-color: transparent;
                  opacity: 1;
                }
              }
            }

            .atrox-content-body {
              //  布局组件
              .atrox-container-component {
                // 填充式布局组件
                .atrox-container-full {
                  border: $theme-container-border-outer;
                  border-top: none;
                  border-bottom: none;

                  .atrox-container-full__header {
                    border-bottom: $theme-container-border-inner;
                    background: $theme-container-header-footer-background-color;
                  }

                  .atrox-container-full__body {
                    background: $theme-container-background-color;
                  }

                  .atrox-container-full__footer {
                    border-top: $theme-container-border-inner;
                    background: $theme-container-header-footer-background-color;
                  }
                }
                // 填充型 滚动优化
                .atrox-container-full-bs {
                  border: $theme-container-border-outer;
                  border-top: none;
                  border-bottom: none;

                  .atrox-container-full-bs__header {
                    border-bottom: $theme-container-border-inner;
                    background: $theme-container-header-footer-background-color;
                  }

                  .atrox-container-full-bs__body {
                    background: $theme-container-background-color;
                  }

                  .atrox-container-full-bs__footer {
                    border-top: $theme-container-border-inner;
                    background: $theme-container-header-footer-background-color;
                  }
                }

                .atrox-container-card {
                  .atrox-container-card__header {
                    border-bottom: $theme-container-border-inner;
                    border-left: $theme-container-border-outer;
                    border-right: $theme-container-border-outer;
                    background: $theme-container-header-footer-background-color;
                  }

                  .atrox-container-card__body {
                    .atrox-container-card__body-card {
                      background: $theme-container-background-color;
                      border-left: $theme-container-border-outer;
                      border-right: $theme-container-border-outer;
                      border-bottom: $theme-container-border-outer;
                    }
                  }

                  .atrox-container-card__footer {
                    border-top: $theme-container-border-outer;
                    border-left: $theme-container-border-outer;
                    border-right: $theme-container-border-outer;
                    background: $theme-container-header-footer-background-color;
                  }
                }
                // [组件]
                // atrox-container-card-bs 卡片型 滚动优化
                .atrox-container-card-bs {
                  .atrox-container-card-bs__header {
                    border-bottom: $theme-container-border-inner;
                    border-left: $theme-container-border-outer;
                    border-right: $theme-container-border-outer;
                    background: $theme-container-header-footer-background-color;
                  }

                  .atrox-container-card-bs__body {
                    .atrox-container-card-bs__body-card {
                      background: $theme-container-background-color;
                      border-left: $theme-container-border-outer;
                      border-right: $theme-container-border-outer;
                      border-bottom: $theme-container-border-outer;
                    }
                  }

                  .atrox-container-card-bs__footer {
                    border-top: $theme-container-border-outer;
                    border-left: $theme-container-border-outer;
                    border-right: $theme-container-border-outer;
                    background: $theme-container-header-footer-background-color;
                  }
                }
              }
            }
          }
        }
      }

      .atrox-body-footer {
        background-color: $theme-footer-color;
      }
    }
  }

  // 进度条颜色
  #nprogress .bar {
    background: $color-primary !important; //自定义颜色
  }
}
