// 整体框架结构
.atrox-container {
  height: 100%;
  width: 100%;
  min-width: 900px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  // 遮罩层
  .atrox-container-mask {
    @extend %full;
  }
  // 身体
  .atrox-body {
    @extend %full;

    display: flex;
    flex-direction: column;
    // 主题
    .atrox-body-main {
      display: flex;
      flex-grow: 1;
      // 左侧菜单栏宽度动画
      .atrox-body-main-left__trans {
        transition: width 0.3s;
      }
      // 左侧菜单栏
      .atrox-body-main-left {
        flex: none;
        display: flex;
        flex-direction: column;
        // 菜单栏顶部logo处
        .atrox-logo {
          flex-grow: 0;
          height: 48px;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          overflow: hidden;
          text-align: center;

          @extend %unable-select;

          img {
            height: 100%;
          }
        }
        // 菜单
        .atrox-menu {
          flex-grow: 1;
          overflow-x: hidden;
          overflow-y: auto;
          //  v-list背景色继承父级，便于设置
          .v-list {
            background-color: inherit !important;
          }
          //  v-list-item中的图标跟随父级颜色变化
          .v-list-item__icon {
            i {
              color: inherit;
            }
          }
          //  无菜单时显示一块无菜单
          .atrox-no-menu {
            width: 180px;
            height: 180px;
            margin: 10px auto;
            position: relative;

            @extend %unable-select;

            &::before {
              @extend %full-before;

              opacity: 0.06;
            }

            &:hover::before {
              opacity: 0.12;
            }
          }
        }
      }
      // 右边，包括头和内容框
      .atrox-body-main-right {
        flex-grow: 1;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        // 头部
        .atrox-header {
          height: 48px;
          flex-grow: 0;
          display: flex;
          align-items: center;
          // 头部按钮等大，去除圆角
          .v-btn {
            height: 100%;
            border-radius: 0;
          }
          // 按钮激活时设置背景色和透明度
          .atrox-active {
            &.v-btn::before {
              background-color: transparent;
              opacity: 1;
            }
          }
          // 头部右边
          .atrox-header-right {
            flex-grow: 1;
            display: flex;
            height: 100%;
            // 右边选项
            .atrox-header-options {
              padding: 0 20px;
              height: 48px;
              display: flex;
              align-items: center;
            }
          }
        }
        // 内容框
        .atrox-content {
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          .atrox-content-header {
            height: 33px;
            flex: none;
            margin-right: 20px;

            .v-slide-group__content {
              padding: 0;
            }

            .v-chip {
              margin: 0 4px 0 0;
              border-radius: 0 !important;
            }
          }

          .atrox-content-body {
            flex-grow: 1;
            position: relative;
            overflow: hidden;
            //  布局组件
            .atrox-container-component {
              @extend %full;

              animation-duration: 0.3s;
              // 填充式布局组件
              .atrox-container-full {
                position: absolute;
                top: 0;
                right: 20px;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .atrox-container-full__header {
                  padding: 20px;
                }

                .atrox-container-full__body {
                  flex-grow: 1;
                  height: 100%;
                  padding: 20px 20px;
                  overflow: auto;
                  position: relative;
                }

                .atrox-container-full__footer {
                  padding: 20px;
                }
              }
              // 填充式布局组件 - 滚动优化
              .atrox-container-full-bs {
                position: absolute;
                top: 0;
                right: 20px;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .atrox-container-full-bs__header {
                  padding: 20px;
                }

                .atrox-container-full-bs__body {
                  flex-grow: 1;
                  overflow: hidden;
                  position: relative;

                  .atrox-container-full-bs__body-wrapper-inner {
                    padding: 20px;
                    position: relative;
                  }
                }

                .atrox-container-full-bs__footer {
                  padding: 20px;
                }
              }
              // 卡片式布局组件
              .atrox-container-card {
                position: absolute;
                top: 0;
                right: 20px;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .atrox-container-card__header {
                  padding: 20px;
                }

                .atrox-container-card__body {
                  flex-grow: 1;
                  overflow: auto;

                  .atrox-container-card__body-card {
                    position: relative;
                    margin-bottom: 20px;
                    padding: 20px;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                  }
                }

                .atrox-container-card__footer {
                  padding: 20px;
                  border-top-left-radius: 4px;
                  border-top-right-radius: 4px;
                }
              }
              // 卡片式布局组件 - 滚动优化
              .atrox-container-card-bs {
                position: absolute;
                top: 0;
                right: 20px;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .atrox-container-card-bs__header {
                  padding: 20px;
                }

                .atrox-container-card-bs__body {
                  position: relative;
                  flex-grow: 1;
                  overflow: hidden;

                  .atrox-container-card-bs__body-wrapper-inner {
                    padding-bottom: 20px;
                  }

                  .atrox-container-card-bs__body-card {
                    position: relative;
                    padding: 20px;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                  }
                }

                .atrox-container-card-bs__footer {
                  padding: 20px;
                  border-top-left-radius: 4px;
                  border-top-right-radius: 4px;
                }
              }
              // 回到顶部按钮
              .atrox-container-button-to-top {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                line-height: 65px;
                text-align: center;
                background-color: $color-primary;
                position: fixed;
                right: 55px;
                bottom: 100px;
              }
              // 回到顶部按钮动画
              .atrox-button-to-top-animation-enter-active,
              .atrox-button-to-top-animation-leave-active {
                transition: transform 0.6s;
              }

              .atrox-button-to-top-animation-enter,
              .atrox-button-to-top-animation-leave-to {
                transform: scale(0, 0) rotate(-90deg);
              }

              .atrox-button-to-top-animation-enter-to {
                transform: scale(0, 0);
              }
            }
          }
        }
      }
    }
    // 脚部
    .atrox-body-footer {
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
    }
  }
}
